
 <nav>
        <a href="/">Home</a>
        <a href="/schedule">Schedule</a>
        <a href="/pinboard">pinboard</a>
        <a href="/contact">Contact</a>
        <a style="margin-left:65%" href="/adminlogin"><i class="bi bi-file-person-fill"></i></a>
        <div class="animation start-contact"></div>
    </nav>
