
 <nav>
        <a href="/">Home</a>
        <a href="/schedule">Schedule</a>
        <a href="/pinboard">pinboard</a>
        <a href="/contact">Contact</a>
        <a style="margin-left:65%" href="/adminlogin"><i class="bi bi-file-person-fill"></i></a>
        <div class="animation start-home"></div>
    </nav>
    <div class="flex-a">
    <div class="flex-aone">
        <img class="box-image" src="/images/uvce_vector.png" alt="uvce">
        <h4 class="home-c">Welcome to SchedX UVCE!!</h4>
        <h6 class="home-cs">Xplore all those schedules unknown..</h6>
        <p class="home-p">If you are new here. Don't worry! we got you all covered. Just go through the key points given below and you'll be good to go. </p>
        <ul class="home-li">
            <li>All the schedules are available on schedule tab. You can click on schedule in the nav-bar.</li>
            <li>CRs can login with their credentials using the pinboard tab.</li>
            <li>To access faculty specific schedule follow the login portal link on schedule page.</li>
        </ul>
    </div>
    <div class="flex-atwo">

    </div>